# Yuma Project

#### Task 1: Upload Data from Excel

In [3]:
import pandas as pd
import os

In [4]:
path = os.getcwd()

In [7]:
yuma_old = pd.read_excel("TestingSheet1.xlsx")

In [5]:
print(path)

/Users/kylebeloin/Desktop/ua_undergrad/gsheets_project/gsheetsYuma/pandas_test

In [9]:
yuma_old

,First Name,Last Name,Email Address,Phone,Semester You Plant To Start At UA,Program of Interest
0,Pedro,Garza,pedrito.trapper@gmail.com,9281234567,Fall 2021,Food Safety (BS)
1,Jessica,Dominguez,Jessica.Dom@gmail.com,9285647890,Fall 2021,Cyber Operation (BAS)